<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="zzPODScanDBEntities" connectionString="metadata=res://*/PODScanDB.csdl|res://*/PODScanDB.ssdl|res://*/PODScanDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rclmlsql01.tsb.co.za;initial catalog=zzPODScanDB;user id=podscanadmin;password=sO0x7S]2LEd0hn;application name=EntityFramework;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RCLScanner.Properties.Settings.zzPODScanDBConnectionString"
      connectionString="Data Source=rclmlsql01.tsb.co.za;Initial Catalog=zzPODScanDB;User ID=podscanadmin;Password=sO0x7S]2LEd0hn;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>